<h1>Listing church_staffs_pictures</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Image</th>
      <th>Church staff</th>
      <th>Image processed</th>
      <th>Staff image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @church_staffs_pictures.each do |church_staffs_picture| %>
      <tr>
        <td><%= church_staffs_picture.first_name %></td>
        <td><%= church_staffs_picture.last_name %></td>
        <td><%= church_staffs_picture.image %></td>
        <td><%= church_staffs_picture.church_staff_id %></td>
        <td><%= church_staffs_picture.image_processed %></td>
        <td><%= church_staffs_picture.staff_image %></td>
        <td><%= link_to 'Show', church_staffs_picture %></td>
        <td><%= link_to 'Edit', edit_church_staffs_picture_path(church_staffs_picture) %></td>
        <td><%= link_to 'Destroy', church_staffs_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Church staffs picture', new_church_staffs_picture_path %>
