<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @article.contact_person %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @article.contact_email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Display rank:</strong>
  <%= @article.display_rank %>
</p>

<p>
  <strong>Ta1:</strong>
  <%= @article.ta1 %>
</p>

<p>
  <strong>Ta2:</strong>
  <%= @article.ta2 %>
</p>

<p>
  <strong>Ta3:</strong>
  <%= @article.ta3 %>
</p>

<p>
  <strong>Ta4:</strong>
  <%= @article.ta4 %>
</p>

<p>
  <strong>Ta5:</strong>
  <%= @article.ta5 %>
</p>

<p>
  <strong>Advert main page:</strong>
  <%= @article.advert_main_page %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @article.slug %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
