<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @events_setup_form.event_id %>
</p>

<p>
  <strong>Email for forms:</strong>
  <%= @events_setup_form.email_for_forms %>
</p>

<p>
  <strong>C f 1:</strong>
  <%= @events_setup_form.c_f_1 %>
</p>

<p>
  <strong>C f 2:</strong>
  <%= @events_setup_form.c_f_2 %>
</p>

<p>
  <strong>C f 3:</strong>
  <%= @events_setup_form.c_f_3 %>
</p>

<p>
  <strong>C f 4:</strong>
  <%= @events_setup_form.c_f_4 %>
</p>

<p>
  <strong>C f 5:</strong>
  <%= @events_setup_form.c_f_5 %>
</p>

<p>
  <strong>C f 6:</strong>
  <%= @events_setup_form.c_f_6 %>
</p>

<p>
  <strong>C f 7:</strong>
  <%= @events_setup_form.c_f_7 %>
</p>

<p>
  <strong>C f 8:</strong>
  <%= @events_setup_form.c_f_8 %>
</p>

<p>
  <strong>C f 9:</strong>
  <%= @events_setup_form.c_f_9 %>
</p>

<p>
  <strong>C f 10:</strong>
  <%= @events_setup_form.c_f_10 %>
</p>

<p>
  <strong>C f 11:</strong>
  <%= @events_setup_form.c_f_11 %>
</p>

<p>
  <strong>C f 12:</strong>
  <%= @events_setup_form.c_f_12 %>
</p>

<p>
  <strong>Age:</strong>
  <%= @events_setup_form.age %>
</p>

<p>
  <strong>C f 1 h:</strong>
  <%= @events_setup_form.c_f_1_h %>
</p>

<p>
  <strong>C f 2 h:</strong>
  <%= @events_setup_form.c_f_2_h %>
</p>

<p>
  <strong>C f 3 h:</strong>
  <%= @events_setup_form.c_f_3_h %>
</p>

<p>
  <strong>C f 4 h:</strong>
  <%= @events_setup_form.c_f_4_h %>
</p>

<p>
  <strong>C f 5 h:</strong>
  <%= @events_setup_form.c_f_5_h %>
</p>

<p>
  <strong>C f 6 h:</strong>
  <%= @events_setup_form.c_f_6_h %>
</p>

<p>
  <strong>C f 7 h:</strong>
  <%= @events_setup_form.c_f_7_h %>
</p>

<p>
  <strong>C f 8 h:</strong>
  <%= @events_setup_form.c_f_8_h %>
</p>

<p>
  <strong>C f 9 h:</strong>
  <%= @events_setup_form.c_f_9_h %>
</p>

<p>
  <strong>C f 10 h:</strong>
  <%= @events_setup_form.c_f_10_h %>
</p>

<p>
  <strong>C f 11 h:</strong>
  <%= @events_setup_form.c_f_11_h %>
</p>

<p>
  <strong>C f 12 h:</strong>
  <%= @events_setup_form.c_f_12_h %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @events_setup_form.phone %>
</p>

<p>
  <strong>Note:</strong>
  <%= @events_setup_form.note %>
</p>

<p>
  <strong>Bday:</strong>
  <%= @events_setup_form.bday %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @events_setup_form.sex %>
</p>

<p>
  <strong>Use form:</strong>
  <%= @events_setup_form.use_form %>
</p>

<p>
  <strong>Down link:</strong>
  <%= @events_setup_form.down_link %>
</p>

<p>
  <strong>Ok to contact:</strong>
  <%= @events_setup_form.ok_to_contact %>
</p>

<p>
  <strong>Form title:</strong>
  <%= @events_setup_form.form_title %>
</p>

<%= link_to 'Edit', edit_events_setup_form_path(@events_setup_form) %> |
<%= link_to 'Back', events_setup_forms_path %>
