<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @video.contact_person %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @video.contact_email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Display rank:</strong>
  <%= @video.display_rank %>
</p>

<p>
  <strong>Ta1:</strong>
  <%= @video.ta1 %>
</p>

<p>
  <strong>Ta2:</strong>
  <%= @video.ta2 %>
</p>

<p>
  <strong>Ta3:</strong>
  <%= @video.ta3 %>
</p>

<p>
  <strong>Ta4:</strong>
  <%= @video.ta4 %>
</p>

<p>
  <strong>Ta5:</strong>
  <%= @video.ta5 %>
</p>

<p>
  <strong>Advert main page:</strong>
  <%= @video.advert_main_page %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @video.url %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @video.slug %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
