<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @event.event_time %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @event.contact_email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @event.contact_person %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Remove event date:</strong>
  <%= @event.remove_event_date %>
</p>

<p>
  <strong>Display main page:</strong>
  <%= @event.display_main_page %>
</p>

<p>
  <strong>Event start time:</strong>
  <%= @event.event_start_time %>
</p>

<p>
  <strong>Use form button:</strong>
  <%= @event.use_form_button %>
</p>

<p>
  <strong>Which form:</strong>
  <%= @event.which_form %>
</p>

<p>
  <strong>Download link:</strong>
  <%= @event.download_link %>
</p>

<p>
  <strong>Share download:</strong>
  <%= @event.share_download %>
</p>

<p>
  <strong>Use contact:</strong>
  <%= @event.use_contact %>
</p>

<p>
  <strong>Recurring day:</strong>
  <%= @event.recurring_day %>
</p>

<p>
  <strong>Recurring on:</strong>
  <%= @event.recurring_on %>
</p>

<p>
  <strong>Advertisement:</strong>
  <%= @event.advertisement %>
</p>

<p>
  <strong>Internal link url:</strong>
  <%= @event.internal_link_url %>
</p>

<p>
  <strong>Internal link:</strong>
  <%= @event.internal_link %>
</p>

<p>
  <strong>No expiry:</strong>
  <%= @event.no_expiry %>
</p>

<p>
  <strong>Template selected:</strong>
  <%= @event.template_selected %>
</p>

<p>
  <strong>Full event:</strong>
  <%= @event.full_event %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @event.summary %>
</p>

<p>
  <strong>Force on main page:</strong>
  <%= @event.force_on_main_page %>
</p>

<p>
  <strong>Enable disable ad:</strong>
  <%= @event.enable_disable_ad %>
</p>

<p>
  <strong>Highlight:</strong>
  <%= @event.highlight %>
</p>

<p>
  <strong>Scheduled when:</strong>
  <%= @event.scheduled_when %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @event.schedule %>
</p>

<p>
  <strong>Next occurence:</strong>
  <%= @event.next_occurence %>
</p>

<p>
  <strong>Options:</strong>
  <%= @event.options %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @event.slug %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
