<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ministry_child.name %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @ministry_child.contact_person %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @ministry_child.contact_email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ministry_child.description %>
</p>

<p>
  <strong>Display rank:</strong>
  <%= @ministry_child.display_rank %>
</p>

<p>
  <strong>Ta1:</strong>
  <%= @ministry_child.ta1 %>
</p>

<p>
  <strong>Ta2:</strong>
  <%= @ministry_child.ta2 %>
</p>

<p>
  <strong>Ta3:</strong>
  <%= @ministry_child.ta3 %>
</p>

<p>
  <strong>Ta4:</strong>
  <%= @ministry_child.ta4 %>
</p>

<p>
  <strong>Ta5:</strong>
  <%= @ministry_child.ta5 %>
</p>

<p>
  <strong>Advert main page:</strong>
  <%= @ministry_child.advert_main_page %>
</p>

<p>
  <strong>Ministry:</strong>
  <%= @ministry_child.ministry_id %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @ministry_child.slug %>
</p>

<%= link_to 'Edit', edit_ministry_child_path(@ministry_child) %> |
<%= link_to 'Back', ministry_children_path %>
