<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @egiving.amount %>
</p>

<p>
  <strong>Send email giver:</strong>
  <%= @egiving.send_email_giver %>
</p>

<p>
  <strong>Email of giver:</strong>
  <%= @egiving.email_of_giver %>
</p>

<p>
  <strong>Name on card:</strong>
  <%= @egiving.name_on_card %>
</p>

<p>
  <strong>Name on card key:</strong>
  <%= @egiving.name_on_card_key %>
</p>

<p>
  <strong>Name on card iv:</strong>
  <%= @egiving.name_on_card_iv %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @egiving.card_number %>
</p>

<p>
  <strong>Card number key:</strong>
  <%= @egiving.card_number_key %>
</p>

<p>
  <strong>Card number iv:</strong>
  <%= @egiving.card_number_iv %>
</p>

<p>
  <strong>Ccv number:</strong>
  <%= @egiving.ccv_number %>
</p>

<p>
  <strong>Ccv number key:</strong>
  <%= @egiving.ccv_number_key %>
</p>

<p>
  <strong>Ccv number iv:</strong>
  <%= @egiving.ccv_number_iv %>
</p>

<p>
  <strong>Date month:</strong>
  <%= @egiving.date_month %>
</p>

<p>
  <strong>Date month key:</strong>
  <%= @egiving.date_month_key %>
</p>

<p>
  <strong>Date month iv:</strong>
  <%= @egiving.date_month_iv %>
</p>

<p>
  <strong>Date year:</strong>
  <%= @egiving.date_year %>
</p>

<p>
  <strong>Date year key:</strong>
  <%= @egiving.date_year_key %>
</p>

<p>
  <strong>Date year iv:</strong>
  <%= @egiving.date_year_iv %>
</p>

<p>
  <strong>Giving:</strong>
  <%= @egiving.giving %>
</p>

<p>
  <strong>Year:</strong>
  <%= @egiving.year %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @egiving.card_type %>
</p>

<p>
  <strong>Amountfinal:</strong>
  <%= @egiving.amountfinal %>
</p>

<p>
  <strong>Propose of donation:</strong>
  <%= @egiving.propose_of_donation %>
</p>

<p>
  <strong>First name:</strong>
  <%= @egiving.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @egiving.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @egiving.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @egiving.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @egiving.province %>
</p>

<p>
  <strong>Country:</strong>
  <%= @egiving.country %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @egiving.postal_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @egiving.phone_number %>
</p>

<p>
  <strong>Finalamount:</strong>
  <%= @egiving.finalamount %>
</p>

<p>
  <strong>Giving year:</strong>
  <%= @egiving.giving_year %>
</p>

<%= link_to 'Edit', edit_egiving_path(@egiving) %> |
<%= link_to 'Back', egivings_path %>
