<p id="notice"><%= notice %></p>

<p>
  <strong>Event setup form:</strong>
  <%= @events_form.event_setup_form_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @events_form.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @events_form.last_name %>
</p>

<p>
  <strong>Receive emails:</strong>
  <%= @events_form.receive_emails %>
</p>

<p>
  <strong>Email:</strong>
  <%= @events_form.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @events_form.phone_number %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @events_form.notes %>
</p>

<p>
  <strong>C f 1 s:</strong>
  <%= @events_form.c_f_1_s %>
</p>

<p>
  <strong>C f 2 s:</strong>
  <%= @events_form.c_f_2_s %>
</p>

<p>
  <strong>C f 3 s:</strong>
  <%= @events_form.c_f_3_s %>
</p>

<p>
  <strong>C f 4 s:</strong>
  <%= @events_form.c_f_4_s %>
</p>

<p>
  <strong>C f 5 b:</strong>
  <%= @events_form.c_f_5_b %>
</p>

<p>
  <strong>C f 6 b:</strong>
  <%= @events_form.c_f_6_b %>
</p>

<p>
  <strong>C f 7 b:</strong>
  <%= @events_form.c_f_7_b %>
</p>

<p>
  <strong>C f 8 b:</strong>
  <%= @events_form.c_f_8_b %>
</p>

<p>
  <strong>C f 9 t:</strong>
  <%= @events_form.c_f_9_t %>
</p>

<p>
  <strong>C f 10 t:</strong>
  <%= @events_form.c_f_10_t %>
</p>

<p>
  <strong>C f 11 t:</strong>
  <%= @events_form.c_f_11_t %>
</p>

<p>
  <strong>C f 12 t:</strong>
  <%= @events_form.c_f_12_t %>
</p>

<p>
  <strong>Age:</strong>
  <%= @events_form.age %>
</p>

<p>
  <strong>Bday:</strong>
  <%= @events_form.bday %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @events_form.sex %>
</p>

<%= link_to 'Edit', edit_events_form_path(@events_form) %> |
<%= link_to 'Back', events_forms_path %>
