<p id="notice"><%= notice %></p>

<p>
  <strong>Youtube:</strong>
  <%= @site_setup.youtube %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @site_setup.facebook %>
</p>

<p>
  <strong>Video stream:</strong>
  <%= @site_setup.video_stream %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @site_setup.twitter %>
</p>

<p>
  <strong>Life pulse:</strong>
  <%= @site_setup.life_pulse %>
</p>

<p>
  <strong>Leaders blog:</strong>
  <%= @site_setup.leaders_blog %>
</p>

<p>
  <strong>Store:</strong>
  <%= @site_setup.store %>
</p>

<p>
  <strong>Video:</strong>
  <%= @site_setup.video %>
</p>

<p>
  <strong>Articles:</strong>
  <%= @site_setup.articles %>
</p>

<p>
  <strong>Shutdown:</strong>
  <%= @site_setup.shutdown %>
</p>

<%= link_to 'Edit', edit_site_setup_path(@site_setup) %> |
<%= link_to 'Back', site_setups_path %>
