<%- model_class = Calendar -%>

<div class="Row">
	<div class="col-md-12 mission_bg img-rounded ">


<div class="mission_bg img-rounded ">

<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">Calendar Events</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 
 
<%= link_to "New Event for the Calendar",
            new_calendar_path,
            :class => 'btn btn-primary btn-xs' %>
			<br>
 
<table class="table table-striped">
  <thead>
    <tr> 
      <th>Event Name</th>
      <th><%= model_class.human_attribute_name(:calendar_date) %></th>
      <th><%= model_class.human_attribute_name(:recurring_day) %></th>
      <th><%= model_class.human_attribute_name(:recurring_on) %></th> 
	  
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <% unless calendar.event !=nil%>
        <td><%= calendar.calendar_name %></td>
        <td><%= calendar.calendar_date %></td>
        <td><%= calendar.recurring_day %></td>
        <td><%= calendar.recurring_on %></td> 
        <td>
			
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        calendar_path(calendar), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_calendar_path(calendar), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      calendar_path(calendar),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
					  <%else%>   
					  
		 <td><%= calendar.event.event_name %></td>
        <td><%= calendar.event.event_date %></td>
        <td>N/A</td>
        <td>N/A</td> 
        <td>
		              <%= link_to t('.show', :default => t("helpers.links.show")),
		                          event_path(calendar.event_id), :class => 'btn btn-primary btn-xs' %>
		            <%= link_to t('.edit', :default => t("helpers.links.edit")),
		                        edit_event_path(calendar.event_id), :class => 'btn btn-default btn-xs' %>
					  <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


			<br>	<br>
			
		</div>
		</div>
		</div>
