<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @church_staff.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @church_staff.last_name %>
</p>

<p>
  <strong>Spouse first name:</strong>
  <%= @church_staff.spouse_first_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @church_staff.title %>
</p>

<p>
  <strong>Started service:</strong>
  <%= @church_staff.started_service %>
</p>

<p>
  <strong>Description:</strong>
  <%= @church_staff.description %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @church_staff.contact_email %>
</p>

<p>
  <strong>Image:</strong>
  <%= @church_staff.image %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @church_staff.birthday %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @church_staff.blog %>
</p>

<p>
  <strong>Url:</strong>
  <%= @church_staff.url %>
</p>

<p>
  <strong>Phone ext:</strong>
  <%= @church_staff.phone_ext %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @church_staff.phone_number %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @church_staff.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @church_staff.email_id %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @church_staff.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @church_staff.twitter %>
</p>

<p>
  <strong>Google plus:</strong>
  <%= @church_staff.google_plus %>
</p>

<p>
  <strong>Linked in:</strong>
  <%= @church_staff.linked_in %>
</p>

<p>
  <strong>Birth location:</strong>
  <%= @church_staff.birth_location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @church_staff.category %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @church_staff.rank %>
</p>

<%= link_to 'Edit', edit_church_staff_path(@church_staff) %> |
<%= link_to 'Back', church_staffs_path %>
