<h1>Listing carousel_images</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Advertisement</th>
      <th>Carousel image name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carousel_images.each do |carousel_image| %>
      <tr>
        <td><%= carousel_image.event_id %></td>
        <td><%= carousel_image.advertisement_id %></td>
        <td><%= carousel_image.carousel_image_name %></td>
        <td><%= link_to 'Show', carousel_image %></td>
        <td><%= link_to 'Edit', edit_carousel_image_path(carousel_image) %></td>
        <td><%= link_to 'Destroy', carousel_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carousel image', new_carousel_image_path %>
