 <% provide(:title, "The Facility") %>
  
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">Our Facilities</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 <hr class="round_line_hoz2 " /> 
 <br>
 <div class="row">
  <div class="col-md-offset-1 col-md-5 ">    
	 	<%= image_tag("facilities_where_we.png" ) %>  	 
   	</div>
    <div class="col-md-5 ">    
  	 	 <%= image_tag("inside_wc.png" ) %> 	 
 	 
     	</div>
  </div>
 
  
   <hr class="round_line_hoz2 " /> 
 
 <br>
 
 <div class="row">
  <div class="col-md-offset-1 col-md-4 ">    
	 	 <%= image_tag("outside_front.png" , :height => "330%" , :width => "330%" ) %>	 
   	</div>
  <div class="col-md-6 "> 
	  
	  <p class="mission_text pull-left " > 
	  		God has blessed Life Church with a wonderful facility on a beautiful 9-acre 
	  		property in Woodstock, Ontario.  The main building houses our church office 
	  		and is where we gather for our biweekly services.  Besides being our church 
	  		residence, the building also acts as the home of Life Christian Academy.  
	  		With everything we have going on it is not uncommon to see all sorts of 
	  		activity happening in and around our multipurpose building throughout the week.

		
	   		 </p>
			 
			 
		 </div>
		 
		 </div>
	  <div class="row">
	   <div class="col-md-offset-1 col-md-10 ">
	<p class="mission_text pull-left " > 
			<br>
			 
			If you were to look behind our building you would discover a beautiful section of 
			green area we affectionately refer to as Life Park.  This is where you will find our 
			soccer pitch, beach volleyball court, fire pit, and a lovely treed area where we like to hold our church picnics.  Although our sanctuary is comfortable and accommodating, in the summer we do 
	enjoy taking advantage of Life Park by holding the occasional evening service outside.   We are truly thankful for 
	the wonderful facilities God has placed in our care.    
    		 </p>
	  
	  
	 </div>
	 
	 </div> 
	  
 
  


  <div class="row">
   <div class="col-md-offset-1 col-md-5 ">    
 	 	 <%= image_tag("fire_pit.png")%>	 
    	</div>
     <div class="col-md-5 ">    
   	 	 <%= image_tag("park.png" ) %> 	 
 	 
      	</div>
   </div>

 <br>

 