<p id="notice"><%= notice %></p>

<p>
  <strong>Service day 1:</strong>
  <%= @about.service_day_1 %>
</p>

<p>
  <strong>Service time 1:</strong>
  <%= @about.service_time_1 %>
</p>

<p>
  <strong>Service day 2:</strong>
  <%= @about.service_day_2 %>
</p>

<p>
  <strong>Service time 2:</strong>
  <%= @about.service_time_2 %>
</p>

<p>
  <strong>Service day 3:</strong>
  <%= @about.service_day_3 %>
</p>

<p>
  <strong>Service time 3:</strong>
  <%= @about.service_time_3 %>
</p>

<p>
  <strong>Address:</strong>
  <%= @about.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @about.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @about.postal_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @about.phone_number %>
</p>

<p>
  <strong>Toll free phone number:</strong>
  <%= @about.toll_free_phone_number %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @about.fax_number %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @about.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @about.longitude %>
</p>

<p>
  <strong>Gmaps:</strong>
  <%= @about.gmaps %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @about.youtube %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @about.facebook %>
</p>

<p>
  <strong>Video stream:</strong>
  <%= @about.video_stream %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @about.twitter %>
</p>

<p>
  <strong>Country:</strong>
  <%= @about.country %>
</p>

<p>
  <strong>Province:</strong>
  <%= @about.province %>
</p>

<p>
  <strong>Life pulse:</strong>
  <%= @about.life_pulse %>
</p>

<p>
  <strong>Leaders blog:</strong>
  <%= @about.leaders_blog %>
</p>

<p>
  <strong>Store:</strong>
  <%= @about.store %>
</p>

<p>
  <strong>Video:</strong>
  <%= @about.video %>
</p>

<p>
  <strong>Articles:</strong>
  <%= @about.articles %>
</p>

<p>
  <strong>Name:</strong>
  <%= @about.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @about.slug %>
</p>

<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
