 <li class="dropdown">
	    <a href="#" class="dropdown-toggle " data-toggle="dropdown">RESOURCES</a>
       <div class="dropdown-menu multi-column_sm">
         <div class="row">
          
   		  <div class="col-sm-1">
            
             </div>
          
   		  <div class="col-sm-5 ">
          	   	<ul class="dropdown-menu">
					<p>&nbsp; Categories </p> 
					<li><%= link_to ' Become A Believer',   become_a_believer_abouts_path %></li>
				    <% if @site_setup_menu.leaders_blog? %>
				    <li><a href="#">Leader's Blogs</a></li>
				    <% end %>
					
	                 <%= link_to 'Sermons', sermons_path %> 
				  
				    <% if @site_setup_menu.video? %>
				   <%= link_to 'Video', videos_path %> 
				    <% end %>
				    <% if @site_setup_menu.articles? %>
				   <%= link_to 'Articles', articles_path %> 
				    <% end %>
				    <% if @site_setup_menu.store? %>
				    <li><a href="#">Store</a></li>
				    <% end %>
                  </ul>
                </div>
		  	
                <div class="col-sm-4">
  	       	      	<ul class="dropdown-menu">
					<p>&nbsp;   </p> 
			 
				    <% if @site_setup_menu.life_pulse? %>
		    <%= link_to life_pulses_path  do %>
		 <%= image_tag("pulsemini.png", size: "22x22", class: "menuimage")%> The Pulse<% end %>
				    <% end %>
					
					
				    
					
	              <%= link_to 'Bulletin', bulletins_path %> 
					  <%= link_to 'Master Schedule', schedules_path %> 
						 
						  
                    </ul>
                </div> 
			 </div>
         </div>
</li>
	            
 