	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT</a>
        <div class="dropdown-menu multi-column">
          <div class="row">
              
			  <div class="col-sm-1">
                
              </div>
              
			  <div class="col-sm-6 ">
	       	   	<ul class="dropdown-menu">
		         <p>&nbsp; About Life Church</p>
                  
				 <%= link_to 'Who We Are', who_we_are_abouts_path %> 
				 <%= link_to 'Mission & Methods', mission_method_abouts_path %> 
                 <%= link_to 'What We Believe', what_we_believe_abouts_path %> 
				 <%= link_to 'Our Staff', our_staff_abouts_path %> 
				 <%= link_to 'Our Facilities', facility_abouts_path %> 	
                </ul>
              </div>
			  	
              <div class="col-sm-5">
	       	   	<ul class="dropdown-menu">
  		      	<p>General Info</p> 
					
   				    <%= link_to who_we_are_abouts_path + "#service_times"  do %>
   				 <i class="glyphicon glyphicon-time"></i> Service Times<% end %>
					
					    <%= link_to who_we_are_abouts_path + "#direction"  do %>
					 <i class="glyphicon glyphicon-map-marker"></i> Directions<% end %>
					
					
				    <%= link_to contact_path  do %>
				 <i class="glyphicon glyphicon-phone"></i> Contact Us<% end %>
					
	            
					
					
                </ul>
            </div> 
		  </div>
					 
					 
		   <div class="row">
		                <div class="col-sm-12">
		                    <ul class=" pull-center">&nbsp;&nbsp;  
							
  						    <%= link_to what_to_expect_abouts_path  do %>
  						 <%= image_tag("new_here_menu.png", size: "20x20", class: "menuimage")%> New Here, What to Expect?		 <% end %>
							   
		                    </ul>
		                </div> 
				 </div>	
				  
		         </div>
        </li>
 
 
 
 
 
 
 
 
  				 