 

	<% if user_signed_in? %>
	
	
                   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome,  <%= current_user.name %> <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li>
						 
						    <%= link_to contact_path  do %>
						  <i class="glyphicon glyphicon-envelope"></i> Contact Us		 <% end %>
						   
						   </li>   
						    <li>
						    <%= link_to edit_user_registration_path do %>
						  <i class="glyphicon glyphicon-cog"></i> Preferences 		 <% end %>
						    </li>
 					 
  						 
						   <%#    <%#  editor & admin %> %>
  					      <li> 
    						    <%= link_to announcements_path  do %>
    						  <i class="glyphicon glyphicon-bullhorn"></i>  Site-Wide Alerts		 <% end %>
					  
  					      </li> 
  					      <li> 
    						    <%= link_to site_setup_path(1)  do %>
    						  <i class="glyphicon glyphicon-wrench"></i>  Site Setup		 <% end %>
					  
  					      </li>
						  
  					      <li> 
    						    <%= link_to users_path(:approved => "false")  do %>
    						  <i class="glyphicon glyphicon-thumbs-up"></i>  Pending Approvals		 <% end %>
					  
  					      </li>
 						  <%#  to here %>
						 
						   <%#  editor & admin %>
						 <li class="divider"></li>
						 
					 
						  
						  <li class="dropdown-submenu">
						      <a tabindex="-1" href="#">Events</a>
						      <ul class="dropdown-menu">
						 
							      <li>
							      <%= link_to 'Create Ad', new_event_path(:event_type => 11) %>
							      </li>
							      <li>
							      <%= link_to 'View All Ads', events_advertisment_path   %>
							      </li>
								  <li class="divider"></li>
							      <li>
							      <%= link_to 'Create Event', new_event_path(:event_type => 12) %>
							      </li>
							      <li>
							      <%= link_to 'View All Events', events_events_path  %>
							      </li>
							   
								  <li class="divider"></li>
							      <li>
							      <%= link_to 'Create Calender Only', new_event_path(:event_type => 13) %>
							      </li>
							      <li>
							      <%= link_to 'View All Calender Only', events_calendar_only_path  %>
							      </li>
						      </ul>
						    </li>
			  
				 
						 
						 
						 
						    <%#  editor & admin %>
						 <li class="divider"></li>
						 <li class="dropdown-submenu">
						      <a tabindex="-1" href="#">Life Pulse</a>
						      <ul class="dropdown-menu">
		 					      <li> 
		   						    <%= link_to new_life_pulse_path  do %>
		   						  <i class="glyphicon glyphicon-bolt"></i> Create New Post	 <% end %>
		 					      </li> 
		 					      <li> 
		   						    <%= link_to life_pulses_stocks_pictures_path  do %>
		   						  <i class="glyphicon glyphicon-stackexchange"></i>  Organize Stock Images <% end %>
		 					      </li>
						      </ul>
						    </li>
						 
						 
						 
	 				    <%#  editor & admin %>
					 
	 					 <li class="divider"></li>
	 					  <li class="dropdown-submenu">
	 						  <li class="dropdown-submenu">
	 						      <a tabindex="-1" href="#">Edit the site</a>
	 						      <ul class="dropdown-menu">
	 							      <li>
										<% if current_user.edit_site? %>  
									<%= link_to "Disable Editing" ,  users_edit_site_path  %>
									    <% else %> 
										<%= link_to "Edit the Site" ,  users_edit_site_path  %>
									  
									  
									   <% end %> 
	 							      </li>
	 						      </ul>
	 						    </li>
	 				 
						   <%#  to here %>
				  
				     <%#  editor & admin %>
					 
					 <li class="divider"></li>
					  <li class="dropdown-submenu">
						  <li class="dropdown-submenu">
						      <a tabindex="-1" href="#">Emailing System</a>
						      <ul class="dropdown-menu">
							      <li>
							      <%= link_to 'MailChimp',  "http://mailchimp.com/" %>
							      </li>
						      </ul>
						    </li>
				 
				   <%#  to here %>
				 
					 
					 
						 
						  <% # current_user.has_role? :admin %>
						 <li class="divider"></li>
 
						  <li class="dropdown-submenu">
						      <a tabindex="-1" href="#">E Giving</a>
						      <ul class="dropdown-menu">
						 
							      <li>
							      <%= link_to 'Donations', egivings_path %>
							      </li>
						      </ul>
						    </li>
			  
						 <%# end %> 
						 
						 
						 
                           <li class="divider"></li>
						    <li>
						    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
						    </li>
						  <%# if current_user.has_role? :admin %>
						      <li>
						      <%= link_to 'Admin Page', users_path %>
						      </li> 
						 <% #end %>
						
						
							 
                       </ul>
                   </li>


				  <% else %>
				    <li>
				    <%= link_to 'LOGIN', new_user_session_path %>
				    </li>
				  <% end %>
           
     
 