	<li class="dropdown">
	    <a href="#" class="dropdown-toggle " data-toggle="dropdown">CONNECT</a>
    <div class="dropdown-menu multi-column">
      <div class="row">
          
		  <div class="col-sm-1">
            
          </div>
          
		  <div class="col-sm-5 ">
       	   	<ul class="dropdown-menu">
					<p>&nbsp; Ministries</p>
					 <% @ministries_menu.each do |ministries| %>
				   <%= ministries_menu(ministries).html_safe %>  
				     <% end %>

				 	<% if user_signed_in? %>
				    <%= link_to 'Create New Ministry - NEED IF',  new_ministry_path %> 
			     
			     <% end %>
			  		        
                   </ul>
                 </div>
			  	
                 <div class="col-sm-6">
   	       	      	<ul class="dropdown-menu">
								<p>Serving Together</p> 
				                <li><a href="#">Volunteer </a></li>
				               
	     						    <%= link_to events_path   do %>
	     						 <%= image_tag("event_menu.png", size: "20x20", class: "menuimage")%> Calendar & Events<% end %>
								
     						    <%= link_to @site_setup_menu.youtube   do %>
     						 <%= image_tag("live_menu.png", size: "22x22", class: "menuimage")%> Live Broadcast<% end %>
							  
     						    <%= link_to "http://#{facebook_link(@site_setup_menu.facebook)}"  do %>
     						 <%= image_tag("facebook_menu.png", size: "22x22", class: "menuimage")%> Facebook<% end %>
							
							
    						    <%= link_to "http://#{twitter_link(@site_setup_menu.twitter)}"  do %>
    						 <%= image_tag("twitter_menu.png", size: "22x22", class: "menuimage")%> Twitter<% end %>
						 
						 
						  
		                    </ul>
		                </div> 
					 </div>
		         </div>
        </li>
 