	<li class="dropdown">
	    <a href="#" class="dropdown-toggle " data-toggle="dropdown">CONNECT</a>
	    <ul class="dropdown-menu ">
	        <li>
			     <div class="row" style="width: 400px;">
	    
					<ul class="list-unstyled col-md-1">
					</ul>
           
					<ul class="list-unstyled col-md-5">
					<p>&nbsp; Ministries</p>
					 <% @ministries_menu.each do |ministries| %>
				    <li> <%= ministries_menu(ministries).html_safe %> </li>
				     <% end %>

				 	<% if user_signed_in? %>
				 
					 
				  <li>  <%= link_to 'Create New Ministry - NEED IF',  new_ministry_path %></li>
			     
			     <% end %>
			  		        
				 
				  
	            </ul>
		       
			   
			     <ul class="list-unstyled col-md-6">
								<p>Serving Together</p> 
				                <li><a href="#">Volunteer </a></li>
				              
				                <li ><%= link_to image_tag("event_menu.png", size: "20x20"), events_path %>
								<%= link_to 'Calendar & Events', events_path %></li>
								
								
				            <li > <%= link_to image_tag("live_menu.png", size: "22x22"), @site_setup_menu.youtube %> <%= link_to 'Live Broadcast', @site_setup_menu.youtube %></li>
							
							
							<li >  <%= link_to image_tag("facebook_menu.png", size: "22x22"), "http://#{facebook_link(@site_setup_menu.facebook)}" %> <%= link_to 'Facebook', "http://#{facebook_link(@site_setup_menu.facebook)}" %></li>
							
							
							<li >  <%= link_to image_tag("twitter_menu.png", size: "22x22"), "http://#{twitter_link(@site_setup_menu.twitter)}" %> <%= link_to 'Twitter',  "http://#{twitter_link(@site_setup_menu.twitter)}"%></li>
						 
						  
							 
							 
				            </ul>
						</div>
				        </li>
	    </ul>
	</li>