	<li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT</a>
	    <ul class="dropdown-menu">
	        <li>
	          <div class="row" style="width: 400px;">
				    
					<ul class="list-unstyled col-md-1">
					</ul>
	                
					<ul class="list-unstyled col-md-5">
			         <p>&nbsp; About Life Church</p>
	                  
					<li><%= link_to 'Who We Are', who_we_are_abouts_path %></li>
					<li><%= link_to 'Mission & Methods', mission_method_abouts_path %></li>
	                <li><%= link_to 'What We Believe', what_we_believe_abouts_path %></li>
					<li><%= link_to 'Our Staff', our_staff_abouts_path %></li>
					<li><%= link_to 'Our Facilities', facility_abouts_path %></li> 
 			   		</ul>
 
 
  				  	<ul class="list-unstyled col-md-4">
			
			<p>General Info</p>
	            
	                <li><i class="icon-time"></i>  <%= link_to 'Service Times', abouts_path + "#service_times" %></li>
					<li><i class="icon-map-marker"></i> <%= link_to 'Directions', abouts_path + "#direction" %></li>
					<li><i class="icon-phone"></i> <%= link_to 'Contact Us', contact_path %></li>
	            </ul>
			</div>
	        </li>
			
			<div class="row" style="width: 300px;">
			
			
			
            <ul class="col-md-12">   
				<li  class="menu_spacing_lower">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <%= link_to image_tag("new_here_menu.png", size: "20x20"), what_to_expect_abouts_path %> <%= link_to 'New Here, What to Expect?', what_to_expect_abouts_path, :class => "menu_spacing_text" %></li>
 
            </ul>
	 
		</div>
	    </ul>
	</li>
	