	
	 
	<%= render 'layouts/menu_about' %>
	
	<%= render 'layouts/menu_connect' %>
	
	<%= render 'layouts/menu_resources' %>
	

	
	
	<li>
		<%= link_to  "GIVE",  new_egiving_path  %>
    </li>
 
	
   
 	<%= render 'layouts/menu_user' %>